<h1>
  <%= "Comments for" %>
  <%= link_to "#{@post.subject}", post_path(@post) %>
</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Date</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @post.comments.each do |comment| %>
      <tr>
        <td>
          <%= link_to "#{comment.comment}", post_comment_path(params[:post_id], comment) %>
        </td>
        <td>
          <%= comment.created_at %>
        </td>
        <td>
          <%= comment.user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
