<%= form_for(@post, html:{class:"form-horizontal", role:"form"}) do |f| %>
  <div class="form-group">
    <%= f.label :subject, class:"control-label" %>
    <div>
      <%= f.text_field :subject, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :post_text, class:"control-label" %>
    <div>
      <%= f.text_area :post_text, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.submit class:"btn btn-primary", id: "submit-post-action" %>
      <%= link_to 'cancel', posts_path, class:"btn btn-default" %>
    </div>
  </div>

<% end %>
