<h1>Welcome to gReddit</h1>
<h3>(like reddit, but with less kyriarchy)</h3>

<table class = "table">
  <thead>
    <tr>
      <th>
        Subject
      </th>
      <th>
      </th>
      <th>
        Comments
      </th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post.subject, post_path(post) %>
      </td>
      <td>
        Submitted <%= time_ago_in_words(post.created_at) %> by <%= post.user.user_name %>
      </td>
      <td>
        <%= link_to post.comments.count, post_comments_path(post) %>
      </td>
    </tr>
    <% end %>

    <%= link_to "Add to the conversation!", new_post_path %>

  </tbody>
</table>
