<h3>
  <%= "#{@post.subject}" %>
</h3>

<p>
  <%= "#{@post.post_text}" %>
</p>

<p>
  <%= "Posted: #{@post.created_at}" %>
</p>

<p>
  <%= link_to "Edit", edit_post_path %>
  <%= link_to "Delete", post_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "Back", posts_path %>
</p>

<p>
  <strong>Comments</strong>
</p>

<div>
  <% @post.comments.each do |comment| %>
  <%= link_to "#{comment.comment}", post_comment_path(@post, comment) %>
  <div class="text-right">
    <%= "Submitted #{comment.created_at} by #{comment.user}" %>
  </div>
  <% end %>
</div>
<%= link_to "Add your own comment", new_post_comment_path(@post) %>
